# Asset files.
*.pak
*.caf

# Ain't that many files to ignore, easier to handle through github for now.
!GameSampleFPS/**
GameSampleFPS/Animations/editor/*

# Config files
#/user.cfg
#/system.cfg
#/editor.cfg
/.bootstrap*.*

# Temporary files.
*.log
*.dmp
*.pyo
*.pyc
*.bak
*.bak2
error.jpg
_WAF_/user_settings.options

# Binary directories.
/[Bb]in*/
/Tools/rc/*

# Temporary directories.
/TestResults/*
/Solutions/*
/solutions_cmake/*
/.depproj/*
/project.sln
/[Ll]og[Bb]ackups
/[Uu]ser*/
__pycache__/*
/Editor/ResourceCache/*
/Editor/Tmp/*

# Might contain a license key, so don't add it to a repo.
/Code/Tools/waf-1.7.13/recode.lic
/recode.lic

# These are handled elsewhere.
/Code/SDKs/*

##
## As a just-in-case + record keeping. SDK zip installation will override this and should match!
##
!/Code/SDKs/SDK_LIST_EDITS.txt

# .gitignore workarounds xd
!/Code/SDKs/boost
/Code/SDKs/boost/*
!/Code/SDKs/boost/boost
/Code/SDKs/boost/boost/*
!/Code/SDKs/boost/boost/multiprecision/
/Code/SDKs/boost/boost/multiprecision/*

!/Code/SDKs/boost/boost/multiprecision/gmp.hpp
!/Code/SDKs/boost/boost/multiprecision/mpfr.hpp